* {
    box-sizing: border-box;
}
.firstColumn {
    display: block;
    float:left;

}
.firstRow::after {
  display: table;
  content:"";
  clear: both;
}

.short {
  width: 15%;
}

.long {
  width: 85%;
}
#profilePic {
  width:100%
}

#userName {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}
#userEmail {
  font-family: 'Aldrich', sans-serif;
  text-align: center;
}

#text{
  font-family: 'Aldrich', sans-serif;
  text-align: center;
  font-size: 50px;
}
